* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: #fafafa;
  color: #1a1a1a;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  height: 100vh;
  width: 100%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Taskbar */
.taskbar {
  width: 100%;
  height: 7%;
  background: #1c1b1b;
  position: fixed;
  bottom: 0;
  overflow: visible;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-taskbar {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo {
  width: 45px;
  padding: 14px;
}

.search {
  position: relative;
}

.search-logo {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 13px;
  left: 14px;
}

.search-logo img {
  width: 18px;
}

.search input {
  padding: 12px 0px 10px 38px;
  width: 288px;
  margin-left: 3px;
  background: #323232;
  border: 1.35px solid #5f5a5a;
  font-size: 15px;
  position: relative;
  z-index: 1;
  outline: none;
  color: #fafafa;
}

.search input::placeholder {
  color: #b8b3b3;
}

.dragon-ball {
  display: block;
  position: absolute;
  z-index: 2;
  top: 6px;
  right: 8px;
}

.dragon-ball img {
  width: 32px;
}

.task-view {
  width: 42px;
  padding: 13px;
  margin-left: 3px;
  position: relative;
}

.task-view .tooltip {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #fafafa;
  color: #1a1a1a;
  font-size: 10px;
  padding: 3px 6px;
  white-space: nowrap;
  text-transform: capitalize;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  pointer-events: none;
  border: 1px solid #1a1a1a;
}

.task-view:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

.software-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-left: 8px;
}

.software-list img {
  width: 42px;
  padding: 8px;
}

.icon-brave,
.icon-vscode,
.icon-vlc,
.icon-camera,
.icon-battery,
.icon-wifi,
.icon-speaker,
.icon-message {
  display: flex;
  justify-content: center;
}

.icon-brave span,
.icon-vscode span,
.icon-vlc span,
.icon-camera span,
.icon-battery span,
.icon-wifi span,
.icon-speaker span,
.icon-message span {
  position: absolute;
  content: "";
  bottom: 100%;
  background: #fafafa;
  color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 3px 6px;
  font-size: 10px;
  white-space: nowrap;

  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  pointer-events: none;
}

.icon-brave:hover span,
.icon-vscode:hover span,
.icon-vlc:hover span,
.icon-camera:hover span,
.icon-battery:hover span,
.icon-wifi:hover span,
.icon-speaker:hover span,
.icon-message:hover span {
  opacity: 1;
  visibility: visible;
}

.right-taskbar {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-right: 10px;
}

.right-taskbar img {
  width: 28px;
  padding: 5px;
}

.right-taskbar .icon-wifi img {
  width: 20px;
}

.icon-message {
  justify-content: flex-end;
}

.icon-camera span,
.icon-battery span,
.icon-wifi span,
.icon-speaker span,
.icon-message span {
  text-transform: capitalize;
}

.contury h4 {
  font-size: 10px;
  text-align: center;
  cursor: context-menu;
}

.contury h4 span {
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 500;
}

/* Right Click */
.right-click {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.right-click ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  background: #1a1a1a;
  color: #fafafa;
  font-size: 12px;
  padding: 6px;
  border: 1px solid grey;
  width: 150px;
}

.right-click ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.right-click ul li span {
  font-size: 14px;
}

.right-click ul li:nth-child(3),
.right-click ul li:nth-child(5),
.right-click ul li:nth-child(6) {
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
}
